/*https://material.io/resources/color/#!/?view.left=0&view.right=0&secondary.color=FFB300&primary.color=FFE082&primary.text.color=000000*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    scroll-behavior: smooth;
    font-size: 18px;
    margin: 0;
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}
